@font-face {
    font-family: 'TradeGothic';
    src: url('.//fonts/268FDD_0_0.woff') format('woff');
}

@font-face {
    font-family: 'TradeGothic_2';
    src: url('.//fonts/268FD8_0_0.woff') format('woff');
}

html, body {
    font-family: Arial, sans-serif !important;
    width: 1280px !important;
    height: 720px !important;
    overflow: hidden;
    background-color: white;
    margin: 0 !important;
}

#main_content {
    width: 1280px !important;
    height: 720px !important;
    overflow: auto;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#page_content {
    transition: margin-left .5s, padding-left .5s;
/*    padding-left: 0px;*/
    position: relative;
    width: auto;
    height: auto;
}

#content_wrapper {
    margin: 10px;
}

.loader {
    margin: 0 auto;
    width: 400px;
    padding-right: 5%;
    display: block;
    margin-top: 150px;
    background-color: inherit;
}


#splash_image {
    position: fixed;
    width: 1280px;
    z-index: 999;
}

#splash {
    width: 1280px;
    height: 720px;
    display: inline;
}

#log_div {
    background-color: gray;
    margin-left: 50%;
    opacity: 0.75;
    color: black !important;
    float: right;
    position: fixed;
    border-radius: 5px;
    z-index: 999;
    max-height: 720px;
    overflow: auto;
    font-size: 12px;
}

.single_log {
    margin: 1px;
    font-size: 12px;
}

.focus_highlight {
    color: #f1f1f1 !important;
    background-color: inherit !important;
    text-decoration: underline !important;
}

.menu_icon {
    height: 48px;
    width: 48px;
    padding: 5px;
    cursor: pointer;
    position: fixed;
    z-index: 1;
    margin: 5px;
}

.menu_icon:hover {
    background-color: #bbb;
    border-radius: 10px;
    opacity: 1 !important;
}

.faded {
    opacity: 0.5 !important;
}

.advert {
    width: 100%;
    height: 100%;
}

.ad {
    width: 1px;
    height: 1px;
}

/*Menu logo size*/
.menu_logo {
    width: 85%;
    height: auto;
}

/* The side navigation menu */
.menu_side {
    height: 670px;
    /* 100% Full-height 720 - 50 padding = 670px */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 2;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 50px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */
.menu_side a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}


/* When you mouse over the navigation links, change their color */
.menu_side a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.menu_side .close_btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .menu_side a {
        font-size: 18px;
    }
}

/*Active focus states*/
.active {
    transition: border-radius 0.5s, background-color 0.25s linear;
    background-color: #f1f1f1;
    border-radius: 25px;
}

.move.active {
    color: #f1f1f1 !important;
    background-color: inherit !important;
}

/*Current standings table style*/

.current_header {
    font-family: 'TradeGothic_2', 'sans-serif' !important;
    color: #757575 !important;
    text-transform: uppercase;
    font-size: 34px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.current_standings {
    font-family: 'TradeGothic_2', 'sans-serif' !important;
    font-size: 28px;
    width: 100%;
    color: #000;
}

.solid_bar {
    background: #d7d7d7;
    height: 3px;
    width: 100%;
    margin: 0 0 10px 0;
}

.current_standings .score_heading {
    text-align: right;
    padding-right: 70px;
}

.heading >:first-child {
    text-align: left;
}

.current_standings .score {
    text-align: right;
    padding-right: 90px;
}

.current_standings .heading {
    background: #f7f7f7;
}

.current_standings td {
    border-bottom: 1px solid #d7d7d7;
}


/*News browse page style*/

article {
    color: #959595 !important;
}

.two-third-block {
    margin: 5px;
    border-bottom: solid 1px #ccc;
    width: 100%;
    padding: 0;
    margin-right: 20px;
    float: left;
    list-style-type: none;
}

.entry-body h2 {
    margin: 0px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

h2 a {
    font-family: 'TradeGothic_2', 'sans-serif' !important;
    color: #000;
    font-size: 100%;
    text-decoration: none;
}

.image-post-format.standard-thumbnail {
    display: block;
    height: auto;
    overflow: visible;
    position: relative;
    width: 280px;
    float: left;
    margin-right: 15px;
}

.excerpt {
    font-size: 24px;
}

/*Pro's pagina style*/

.page-title-heading, h2 {
    font-family: 'TradeGothic_2', 'sans-serif' !important;
    color: #757575 !important;
    text-transform: uppercase;
    font-size: 34px;
    margin-top: 15px;
}

.title-border {
    height: 3px;
    position: relative;
    width: 100%;
    margin: -15px 0 5px 0;
    border-top: 2px solid #ccc;
}

.portfolio-container {
    width: 100%;
    float: left;
    clear: both;
    position: relative;
}

ul#portfolio-items-one-fourth {
    width: 100%;
    overflow: hidden;
    margin: 0 0 20px 0;
    position: relative;
    float: left;
    padding: 0 0 15px 0;
}

ul.portfolio-items-one-fourth li.item.photo {
    height: auto !important;
}

ul.portfolio-items-one-fourth li {
    width: 216px;
    margin: 15px 0 0 15px;
    float: left;
    height: 250px;
    overflow: hidden;
}

.pro-name .full {
    color: #000;
    font-size: 24px;
    text-align: left;
    font-family: 'TradeGothic_2', 'sans-serif' !important;
    text-transform: uppercase;
}

/*About page style*/

.about_text {
    font-family: 'TradeGothic_2', 'sans-serif' !important;
    font-size: 18px;
}

/*Article page style*/

.alignnone {
    width: 100%;
}

.post-social {
    display: none;
}

strong {
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
    font-family: 'TradeGothic_2', 'sans-serif' !important;
}

#content_wrapper p {
    font-size: 24px;
}

.permalink {
    font-size: 34px;
    margin: 5px;
    margin-bottom: -25px;
    padding-top: 25px !important;
}

a {
    color: black;
    text-decoration: none;
}

/*Video page style*/
#controls_div {
/*    position: fixed;*/
    z-index: 3;
    opacity: 0.0;
    font-family: 'TradeGothic_2', 'sans-serif' !important;
    background-color: white;
    border-radius: 25px;
    font-size: 30px !important;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    margin-top: -70%;
/*    margin-left: 15%;*/
    overflow: hidden;
}

.controls {
    margin: auto;
    display: block;
    margin-bottom: 15px;
}

/*
.message_text {
    font-size:
}*/

.v-align-helper {

}

.v-align-target {
    display: inline-block;
    vertical-align: middle;
}

.text_align {
    text-align: center;
}
